/* Global variables */

.wrapper {
  align-items: center;
  text-align: center;
  /* position: absolute; */
  height: auto;
  top: 30%;
  left: 40%;
  border: none;
}

/* Absolute positioning */

.left {
  position: absolute;
  border-radius: 10px;
  left: 47rem;
  top: 20rem;
  transform: translateX(-50%);
  padding: 10px;
  color: #fff;
  background: rgb(72, 146, 230);
  font-size: 15px;
  white-space: nowrap;
}

.right {
  position: absolute;
  border-radius: 10px;
  left: 73rem;
  top: 20rem;
  transform: translateX(-50%);
  padding: 10px;
  color: #fff;
  background: rgb(72, 146, 230);
  font-size: 15px;
  white-space: nowrap;
}

.top {
  position: absolute;
  border-radius: 10px;
  left: 60rem;
  top: 17rem;
  transform: translateX(-50%);
  padding: 10px;
  color: #fff;
  background: rgb(72, 146, 230);
  font-size: 15px;
  white-space: nowrap;
}

.bottom {
  position: absolute;
  border-radius: 10px;
  left: 60rem;
  top: 23rem;
  transform: translateX(-50%);
  padding: 10px;
  color: #fff;
  background: rgb(72, 146, 230);
  font-size: 15px;
  white-space: nowrap;
}
